<div class="note"><b>This webapp is in development for hackatron. It's not yet operational.</b></div>

<div class="header"></div>

<div class="options">
  <a title="new_case" routerLink="/submit-case">Submit new case</a>
  <a title="find_case" routerLink="/search-case">Search for cases</a>
  <a title="get_api">Big data access</a>

  <a class="dataconset" title="consent form" href="https://drive.google.com/file/d/1yTa1opgN9kViHca6xZhYNGQP_ZU8kIzy/view?usp=sharing">Consent form for data submission.</a>
</div>
