div.header {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("src/assets/images/logo_OECO.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 700px;
  height: 300px;
  max-width: 100%;
}

div.options {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

div.note {

}

div.options a {
  font-family: 'Source Sans Pro', sans-serif;
  display: block;
  padding: 15px;
  padding-left: 100px;
  font-size: 20pt;
  border-radius: 10px;
  margin: 30px;
  margin-bottom: 40px;
  text-decoration: none;
  color:black;
  min-height: 55px;
  min-width: 300px;
}

div.options a:nth-child(1) {
  background-image: url(src/assets/images/upload.png);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: left 30px bottom 15px;
  background-origin: border-box;
  background-color: #4FB33B;
  display: block;
}

div.options a:nth-child(2) {
  background-image: url(src/assets/images/search.png);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: left 30px bottom 15px;
  background-origin: border-box;
  background-color: #FF9354;
  display: block;
}

div.options a:nth-child(3) {
  background-image: url(src/assets/images/api.png);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: left 30px bottom 20px;
  background-origin: border-box;
  background-color: #7776FF;
  display: block;
}

div.options a:nth-child(4) {
  margin-top: 30px;
  padding:0px;
  font-size:12pt;
  color:#7f8c8d;
  display: block;
  width:auto;
  padding-left:40px;
}
div.options a:nth-child(4):hover {
color:cornflowerblue;
}
