<h2 *ngIf="noData">No Results</h2>
<div class="container pt-5" *ngIf="!noData">
  <h1 class="border border-primary w-100">{{casesAge}} years, {{existingConditions | uppercase}}</h1>
  <h1 class="border border-primary w-100" *ngIf="!isFirstPage">
    Treatment: {{selectedDrug}}</h1>
  <div class="row pl-3" *ngIf="!isFirstPage" (click)="isFirstPage = true"><i class="fas fa-arrow-left" style="cursor: pointer">Back</i></div>
  <ng-container *ngIf="isFirstPage">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">
          Treatments
        </th>
        <th scope="col">
          Survival
        </th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let treatment of treatmentsListKeys">
        <td class="table-warning" style="cursor: pointer"
            (click)="goToTreatment(treatment)">{{treatment}}</td>
        <td>{{treatmentObject[treatment][0] * 100}} % out of {{treatmentObject[treatment][1]}}</td>
      </tr>
      </tbody>
    </table>

    <div class="row">
      <h2>Common Complications</h2>
      <div class="col-sm-12">

      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-sm-12">
        <div style="display: block;">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
        </div>
      </div>
      <div class="col-sm-6">
        <span
          class="font-weight-bold">Average Hospitalization: {{this.retData.Hospitalization.Mean_Hospital_Stay}}</span>
      </div>
      <div class="col-sm-6">
        <span class="font-weight-bold">Average ICU: {{this.retData.ICU.Mean_ICU_Stay}}</span>
      </div>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="!isFirstPage">
  <table class="table">

    <thead>
    <tr>
      <th scope="col">
        Dose
      </th>
      <th scope="col">
        Survival
      </th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let treatment of searchByDrugTratments">
      <td class="table-warning" style="cursor: pointer">
        {{treatment}}
      </td>
      <td>{{tratDrguObject[treatment][0] * 100}} % out of {{tratDrguObject[treatment][1]}}</td>
    </tr>
    </tbody>
  </table>

  <div class="row align-items-center">
    <div class="col-sm-12">
      <div style="display: block;">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>
    </div>
    <div class="col-sm-6">
        <span
          class="font-weight-bold">Average Hospitalization: {{this.retData.Hospitalization.Mean_Hospital_Stay}}</span>
    </div>
    <div class="col-sm-6">
      <span class="font-weight-bold">Average ICU: {{this.retData.ICU.Mean_ICU_Stay}}</span>
    </div>
  </div>
</ng-container>
