/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(240, 240, 240);
  font-family: 'Source Sans Pro', sans-serif;
}

html, body {
  height: 100%;
}

label{
    font-size: 13pt;
}
label.sidelabel{
  display: inline-block;
  width: 120px;
  text-align: left;
}
label.sidelabeldate{
  display: inline-block;
  width: 250px;
  max-width: 50%;
  text-align: left;
  padding-top: 8px;
}


div.row{
  margin-top: 10px;
}

#patientCode{
  max-width: 100%;
  width:400px;
  display: inline-block;
}
/*div.form-group{
  border:1px solid red;
}*/
div.col-sm-2{
  font-size: 13pt;
}
#yearOfBirth, #typeahead-basic{
  max-width: 100%;
  width:200px;
  display: inline-block;
  margin-right: 50px;
}
h2{
  padding-top: 20px;
  border-bottom: 3px solid rgb(220,220,220);
}
label.testlabel{
  display: inline-block;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 9px;
}
label.labelconditions{
  font-weight: bold;
}
textarea.freetext{
  font-size: 15pt;
  padding:8px;
  border-radius: 8px;
  border:1px solid rgb(200,200,200);
  width: 100%;
  line-height: 1.4;
  font-family: 'Source Sans Pro', sans-serif;
}
div.main-btn{
  align-content: center;
}
button.btn-primary{
  min-width: 240px;
  font-weight: bold;
  font-size: 13pt;
  margin: 5px;
}
button.w-20{
  display: inline-block;
  width:60px;
  height:40px;
  margin-left:30px;
  border-radius: 5px;
  align-content: center;
  border:2px solid cornflowerblue;
}
h3.progressiontitle{
  font-size: 16pt;
  font-weight: bold;
}
h5.card-title{
  font-size: 14pt;
  font-weight: bold;
}
