<div class="card">
  <div class="card-body">
    <!--<h5 class="card-title">Symptoms</h5>-->
    <div class="row">
      <div class="col-sm-12 w-100">
        <label>Symptoms</label>
      </div>
    </div>
    <div class="row pl-5 pr-5">
      <div class="col-3">
        <input class="form-check-input" type="checkbox" value="" id="noSymptoms"
               [(ngModel)]="symptomsModel.noSymptoms">
        <label class="form-check-label" for="noSymptoms">
          No symptoms
        </label>
      </div>
      <div class="col-3">
        <input class="form-check-input" type="checkbox" value="" id="temperature"
               [(ngModel)]="symptomsModel.temperature">
        <label class="form-check-label" for="temperature">
          Temperature
        </label>
      </div>
      <div class="col-3">
        <input class="form-check-input" type="checkbox" value="" id="soreThroat"
               [(ngModel)]="symptomsModel.soreThroat">
        <label class="form-check-label" for="soreThroat">
          Sore throat
        </label>
      </div>
      <div class="col-3">
        <input class="form-check-input" type="checkbox" value="" id="dryCough"
               [(ngModel)]="symptomsModel.dryCough">
        <label class="form-check-label" for="dryCough">
          Dry cough
        </label>
      </div>
    </div>
    <div class="row pl-5 pr-5">
      <div class="col-3">
        <input class="form-check-input" type="checkbox" value="" id="fatigue"
               [(ngModel)]="symptomsModel.fatigue">
        <label class="form-check-label" for="fatigue">
          Fatigue
        </label>
      </div>
      <div class="col-3">
        <input class="form-check-input" type="checkbox" value="" id="nasalCongestion"
               [(ngModel)]="symptomsModel.nasalCongestion">
        <label class="form-check-label" for="nasalCongestion">
          Nasal congestion
        </label>
      </div>
      <div class="col-3">
        <input class="form-check-input" type="checkbox" value="" id="lossOfSmell"
               [(ngModel)]="symptomsModel.lossOfSmell">
        <label class="form-check-label" for="lossOfSmell">
          Loss of smell
        </label>
      </div>
      <div class="col-3">
        <input class="form-check-input" type="checkbox" value="" id="lossOfTaste"
               [(ngModel)]="symptomsModel.lossOfTaste">
        <label class="form-check-label" for="lossOfTaste">
          Loss of taste
        </label>
      </div>
    </div>
    <div class="row pl-5 pr-5">
      <div class="col-3">
        <input class="form-check-input" type="checkbox" value="" id="fever"
               [(ngModel)]="symptomsModel.fever">
        <label class="form-check-label" for="fever">
          Fever
        </label>
      </div>
      <div class="col-3">
        <input class="form-check-input" type="checkbox" value="" id="sputumProduction"
               [(ngModel)]="symptomsModel.sputumProduction">
        <label class="form-check-label" for="sputumProduction">
          Sputum production
        </label>
      </div>
      <div class="col-3">
        <input class="form-check-input" type="checkbox" value="" id="shortnessOfBreath"
               [(ngModel)]="symptomsModel.shortnessOfBreath">
        <label class="form-check-label" for="shortnessOfBreath">
          Shortness of breath
        </label>
      </div>
      <div class="col-3">
        <input class="form-check-input" type="checkbox" value="" id="myalgia"
               [(ngModel)]="symptomsModel.myalgia">
        <label class="form-check-label" for="myalgia">
          Myalgia / arthralgia
        </label>
      </div>
    </div>
    <div class="row pl-5 pr-5">
      <div class="col-3">
        <input class="form-check-input" type="checkbox" value="" id="headaches"
               [(ngModel)]="symptomsModel.headaches">
        <label class="form-check-label" for="headaches">
          Headaches
        </label>
      </div>
      <div class="col-3">
        <input class="form-check-input" type="checkbox" value="" id="chills"
               [(ngModel)]="symptomsModel.chills">
        <label class="form-check-label" for="chills">
          Chills
        </label>
      </div>
      <div class="col-3">
        <input class="form-check-input" type="checkbox" value="" id="pleauriticPain"
               [(ngModel)]="symptomsModel.pleauriticPain">
        <label class="form-check-label" for="pleauriticPain">
          Pleauritic pain
        </label>
      </div>
      <div class="col-3">
        <input class="form-check-input" type="checkbox" value="" id="diarrhea"
               [(ngModel)]="symptomsModel.diarrhea">
        <label class="form-check-label" for="diarrhea">
          Diarrhea
        </label>
      </div>
    </div>
    <div class="row pl-5 pr-5">
      <div class="col-3">
        <input class="form-check-input" type="checkbox" value="" id="dyspnoea"
               [(ngModel)]="symptomsModel.dyspnoea">
        <label class="form-check-label" for="dyspnoea">
          Dyspnoea
        </label>
      </div>
      <div class="col-3">
        <input class="form-check-input" type="checkbox" value="" id="severeRespiratoryInsufficiency"
               [(ngModel)]="symptomsModel.severeRespiratoryInsufficiency">
        <label class="form-check-label" for="severeRespiratoryInsufficiency">
          Severe respiratory insufficiency
        </label>
      </div>
      <div class="col-3">
        <input class="form-check-input" type="checkbox" value="" id="dermatologicLesion"
               [(ngModel)]="symptomsModel.dermatologicLesion">
        <label class="form-check-label" for="dermatologicLesion">
          Dermatologic lesion/rash
        </label>
      </div>
    </div>
  </div>
</div>
